

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #a6a6a6;
    background-color: #ffffff;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}
.wrapper{
    background: #C5D394
}
.full-body{
    background:#fff;
}
html {
    font-family: 'Open Sans', sans-serif;
}



img {
    max-width:100%;
}
.fix {
    overflow:hidden;
}

a{
    font-family: 'Open Sans', sans-serif;
}
.section-padding{
    padding:100px 0;
}
.mb-110{
    margin-bottom:110px;
}
.ml-10{
    margin-left:-10px;
}




/* 
[ 2. Typography ]
==========================*/
p{
    font-family: 'Open Sans', sans-serif;
    color: #8e8e8e;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0 0 15px;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 13px;
}


.footer_area {
	background: #215199;
    padding: 25px 0;
	text-align: center;
}
.footer_area p{
	font-size: 14px;
	color: #FFFFFF;
}


.clr{
	clear: both;
}
.maincontent{
	padding:20px;
}
.content{
	background:#f1f1f1;
	padding: 20px 70px;
	text-align:left;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.box {
	width: 100%;
	height: 45px;
	padding-left: 15px;
	color: #606060;
	font-size: 18px;
	text-transform: capitalize;
	border: 1px solid #5b951e;
	margin-bottom: 10px;
	border-radius: 3px
}
.forgot-pass a{
	color:#aaaaaa;
	font-weight: bold
}
.forgot-pass a:hover{
	color: #669933
}

.log-btn{
	overflow: hidden;
	margin-right: -15px;
}
.inlog {
	background: #669933;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
	float: right;
	padding: 8px 25px;
	border: 1px solid #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
	
}
.inlog:hover {
	color: #669933;
	background-color: transparent;
    border: 1px solid #669933;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
	
}


.fstprt{
	background: #669933;
	height: 430px;
	padding: 135px 45px;
}
.fstprt p{
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 0px;
}
.fstprt h3{
	font-size: 21px;
	color: #fff;
	font-weight: bold
	
	
}





















/*====================================================================
                                                        [ END ]
======================================================================*/